.Abilities {
  color: white;
}

.Abilities h5 {
  font-family: 'Playfair Display SC', serif; 
  font-size: 3vmin;
  font-weight: bold;
  color: #ffffcc;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.9);
  margin-left: 7vmin;
}

.Abilities-title h3 {
  font-family: 'Playfair Display SC', serif;
}

.Abilities-label {
  position: absolute;
  height: 3vmin;
  width: 3.2vmin;
  background-size: 100%;
  background-repeat: no-repeat;
}

.Abilities-label-attack {
  background-image: url("http://vignette2.wikia.nocookie.net/leagueoflegends/images/0/06/Attackpower.png");
}

.Abilities-label-defense {
  background-image: url("http://vignette1.wikia.nocookie.net/leagueoflegends/images/1/1e/Defensepower.png");
}

.Abilities-label-magic {
  background-image: url("http://vignette3.wikia.nocookie.net/leagueoflegends/images/5/50/Abilitypower.png");
}

.Abilities-label-difficulty {
  background-image: url("http://vignette2.wikia.nocookie.net/leagueoflegends/images/a/a5/Difficulty.png");
}

.Abilities-unit-container {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
  height: 3vmin;
  margin-left: 4vmin;
  vertical-align: middle;
  border: 2px solid #a78735;
  border-radius: 4px;
  width: 25%;
  position: absolute;
}

.Abilities-unit-container-underlay {
  background: #000;
  z-index: -1;
}

.Abilities-unit-container-overlay {
  background: repeating-linear-gradient(to right, transparent 0, transparent 8.8%, #a78735, #a78735 10%);
  z-index: 1;
}

.Abilities-unit {

  height: 3vmin;
  position: absolute;
  margin-left: 4vmin;
  transition: width 2s ease-in-out;
  border: 2px solid transparent;
  border-radius: 4px;
  background-size: 100%;
  padding: 0px;
}

.Abilities-unit-attack {
  background: linear-gradient(to right, #320000 0,#980000 100%) left center no-repeat;
}

.Abilities-unit-defense {
  background: linear-gradient(to right, #164729 0,#2e9555 100%) left center no-repeat;
}

.Abilities-unit-magic {
  background: linear-gradient(to right, #012e40 0,#0377a4 100%) left center no-repeat;
}

.Abilities-unit-difficulty {
  background: linear-gradient(to right, #4c3a60 0,#7f619f 100%) left center no-repeat;
}

.Abilities-unit-length-1 {
  width: 2.5%;
}

.Abilities-unit-length-2 {
  width: 5%;
}

.Abilities-unit-length-3 {
  width: 7.5%;
}

.Abilities-unit-length-4 {
  width: 10%;
}

.Abilities-unit-length-5 {
  width: 12.5%;
}

.Abilities-unit-length-6 {
  width: 15%;
}

.Abilities-unit-length-7 {
  width: 17.5%;
}

.Abilities-unit-length-8 {
  width: 20%;
}

.Abilities-unit-length-9 {
  width: 22.5%;
}

.Abilities-unit-length-10 {
  width: 25%;
}
